@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main {
    margin: 0px;
}
#content {
    /* max-width: 1600px; */
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav{
    padding-top: 25px;
    padding-bottom: 20px;
    /* text-align: left; */
}

nav a {
    text-align: center;
    padding: 15px 32px;
    /* background-color: #04AA6D; */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px; /* Add space between nav links */
    color: #ffffff; /* You can adjust the link styling */
}
nav a:hover {
    background-color: #174b4c;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    
}
h1 {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.home-title{
    font-size: 2em;
}
.card-container {
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}
.river-card {
    padding: 10px;
    background-color: bisque;
    margin: 0px 20px;
}
.camping-card{
    padding: 10px;
    background-color: bisque;
    margin: 0px 20px;
}
.rapids-card {
    padding: 10px;
    background-color: bisque;
    margin: 0px 20px;
}

.join, .book {
    background-color: #04AA6D; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    font-family: "poppins", Helvetica, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
  }
.button-box {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

main section {
    text-align: center;

}
body {
    background-color: rgb(255, 251, 245);
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #034748;
}

.book, .join{
    background-color: #AEF78E;
}
.book:hover, .join:hover{
    background-color: #CAFFB9;
}
#background{
    height: 725px;
    background-color: bisque;
    /* margin-left: -100px;
    margin-right: -100px; */
}
.card-img {
    max-width: 240px;
}

.mountains {
    padding: 40px 0px;
}
.msg{
    background-color: #034748;
    padding: 30px;
    line-height: 1.5em;
    margin: 50px 0px;
}

.msg p {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}
.msg h2 {
    color: white;
}

footer{
    background-color: #034748;
    /* margin-left: -100px;
    margin-right: -100px; */
}

footer p{
    color: white;
    padding-top: 5px;
    font-size: 1.2em;
}

footer a{
    color: white;
    text-decoration: none;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

.logo {
    width: 80px;
    /* margin-right: 20px; Adds space between the logo and nav */
}


nav {
    display: flex; /* Ensures nav links are in a row */
    align-items: center; /* Vertically centers nav links to the logo */
    grid-column: 2/3;
}
#logo_link{
    grid-column: 1/2;
    align-self: center;
}