/* * {
    border: 2px solid red
} */

body {
    margin-left: 100px;
    margin-right: 100px;
}

img {
    /* width: 400px; */
    display: block;
    margin: 0 auto;
    width: 60%;
    
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    background-color: rgb(53, 125, 28);
}
:any-link {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}